<ion-content>
  <div class="logo-container">
    <img src="assets/images/logoDuoc.png"  alt="Logo Duoc"/>
  </div>  
  <br>
  <ion-title class="ion-padding-top ion-text-center">
      <ion-label>
        <h3>Sistema de Asistencia DUOC UC</h3>
      </ion-label>
  </ion-title>
  <br>

  <div class="ion-padding-vertical">

    <ion-card class="ion-text-center ion-padding-vertical">

      <ion-card-content class="ion-texte-center">

        <h1>¡CORRECTO!</h1>
        <br>
        <br>
        <img src="assets/images/personaSi.jpg" alt="" height="250px" width="350px">
        <br>
        <br>
        <p>Tu contraseña es:</p>
        <ion-item>
          <p *ngIf="Contra">{{ Contra() }}</p>
        </ion-item>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <div class= boton2>
      <ion-button [routerLink]="['/ingreso']" color="secondary" (click)="Recuperar()">
        VOLVER AL INGRESO
      </ion-button>
    </div>
  </ion-toolbar>
</ion-footer>