ion-content{
    --background: none;
    background-image: url('../../../assets/images/alumnos-duoc.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    --padding-top: 20px;
    --padding-bottom: 20px;
    --padding-end: 20px;
    --padding-start: 20px;
}
ion-item{
    --padding-bottom: 10px;
}

.logo-container {
  height: 100px;
  width: 100%; 
  display: flex;
  justify-content: center;
}

#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

h3{
  font-size: 22px;
  font-weight: bold;
  color: black;
}

.boton2{
  display: flex;
  justify-content: center;
  align-items: center;
}

ion-card {
  background: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(5px);
}

ion-alert.custom-alert {
    --backdrop-opacity: 0.7;
  }
  
  .custom-alert .alert-button-group {
    padding: 8px;
  }
  
  button.alert-button.alert-button-confirm {
    background-color: var(--ion-color-success);
    color: var(--ion-color-success-contrast);
  }
  
  .md button.alert-button.alert-button-confirm {
    border-radius: 4px;
  }
  
  .ios .custom-alert button.alert-button {
    border: 0.55px solid rgba(var(--ion-text-color-rgb, 0, 0, 0), 0.2)
  }
  
  .ios button.alert-button.alert-button-cancel {
    border-right: 0;
    border-bottom-left-radius: 13px;
    border-top-left-radius: 13px;
  }
  
  .ios button.alert-button.alert-button-confirm {
    border-bottom-right-radius: 13px;
    border-top-right-radius: 13px;
  }